*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
@font-face {
    font-family: Corpta ;
    src: url('./fontes/Corpta\ DEMO.otf') format('opentype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: Chopsic;
    src: url('./fontes/Chopsic.otf') format('opentype');
    font-weight: normal;
    font-weight: normal;
}


body {
    
    background-color: #f5f5f7;
    color: #1d1d1f;
    line-height: 1.6;
    background:#2d2d2d;
}

header {
    background-color:#2d2d2d;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 0;
    z-index: 1001;
    font-family: 'corpta', sans-serif;
    font-weight: normal;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header-left {
    display: flex;
    flex-direction: column;
}

.header-right {
    display: flex;
    gap: 10px;
    align-items: center;
}

.banner {
    width: 100%;
    height: 250px;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


header h1 {
  font-family: 'Corpta', sans-serif;
    font-size: 28px;
    color: #ffffff;
    font-weight: normal;
    display: flex;
    align-items: center;
    gap: 10px; 
}

header h1 img {
    width: 55px;
    height: 55px;
}


.page-content {
    margin-left: 70px;
    transition: margin-left 0.3s ease; 
}

main {
    background-color: transparent;
    padding: 40px;
}

.topbar-left {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 70px;
    background-color: #2d2d2d;
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 20px 0;
    padding-top: 100px;
    transition: width 0.3s ease;
    overflow: hidden;
    z-index: 1002;
    border:32px
}

.topbar-left:hover {
    width: 250px;
}


.topbar-left:hover ~ .page-content {
    margin-left: 250px;
}

.topbar-left a {
    text-decoration: none;
    color: #ffffff; 
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease;
    position: relative;
    padding: 5px 15px;
    margin: 0 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    white-space: nowrap;
}

.topbar-left a img {
    width: 24px; 
    height: 24px;
    min-width: 24px; 
    object-fit: contain;
    transition: transform 0.3s ease;
}

.topbar-left a:hover {
    background-color: transparent; 
    color: #ffffff;
    border: 2px solid rgba(255, 82, 82, 0.7); 
    border-radius: 32px; 
}

.topbar-left a.active {
    background-color: rgba(255, 255, 255, 0.05); 
    border-radius: 32px;
}

.topbar-left a span {
    opacity: 0;
    transition: opacity  ease;
}

.topbar-left:hover a span {
    opacity: 1;
}


section {
    width: 100%;
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.materias{
    width: 100%;
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    color: #f5f5f7;
   
}
.materia1, .materia2, .materia3, .materia4, .materia5, .materia6, .materia7, .materia8, .materia9 {
    background-color: #3a3a3c;
    border-radius: 16px;
    padding: 50px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;

}
.materia1 h2, .materia2 h2, .materia3 h2, .materia4 h2, .materia5 h2, .materia6 h2, .materia7 h2, .materia8 h2, .materia9 h2 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #f5f5f7;
    font-family: 'Chopsic', sans-serif;
    font-weight: normal;
}

footer {
    background-color: #0f0f0f;
    color: #f5f5f7;
    text-align: center;
    padding: 30px 0;
    margin-top: 60px;
}

footer p {
    font-size: 14px;
    font-weight: 400;
}
